/* --- Halaman Login --- */
.login-page {
    background: linear-gradient(rgba(26, 77, 46, 0.8), rgba(26, 77, 46, 0.8)), 
                url('https://images.unsplash.com/photo-1507842217343-583bb7270b66?auto=format&fit=crop&w=1500&q=80');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: var(--white);
    padding: 50px;
    width: 100%;
    max-width: 450px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
    text-align: center;
}

.login-box h2 {
    color: var(--istiqlal-green);
    margin-bottom: 30px;
    font-size: 2rem;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 0.9rem;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: inherit;
}

.btn-login {
    width: 100%;
    padding: 15px;
    background-color: var(--istiqlal-gold);
    color: var(--white);
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    background-color: var(--istiqlal-green);
}